<style>
*
{
  transition:all 0.3s ease-in-out;
}

.container
{
  clear:both;
  overflow:auto;
}

nav
{
  float:left;
}

.logo img
{
  float:left;
  padding-bottom: 10px;}

ul li
{
  display: inline-block; 
  padding:30px;
  font-size:20px; 
  font-family:raleway;
  font-weight: bold;
}

ul li:hover
{
  color:;
  
}
.bg
{
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: white;
  padding-bottom: 12px
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
 .iconDetails {
 margin-left:2%;
float:left; 
height:40px;
width:40px; 
} 

.container2 {
    width:100%;
    height:auto;
    padding:1%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.checked {
  color: orange;
  }
.container
font-size: 60px;
padding-top: 70px;
</style>